# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# SQLite DB
*.db

# PyCharm
.idea/

# VS Code (if used)
.vscode/

# Docker
*.dockerignore

# Compiled files
*.egg-info/
